.phpru{
    text-align: center;    
}

.phpru .title img{
    width: 150px;
    height: auto;
}

.phpru .contain{
    width: 100%; 
    margin: 0 auto;            
}

.phpru .card{
    border: 0;
    height: 120px;
    margin-top: 5px;
}

.phpru .card img{
    background-color: rgb(249, 248, 207);    
    width: 320px;
    margin: 0 auto;
    height: 120px;
    padding: 10px;        
}

