.tapru{
    text-align: center;    
}

.tapru .contain{
    width: 100%; 
    margin: 10px auto;                
}

.tapru .pic{            
    height: 321px;
    position: relative;
    width: 338px;
    margin: 10px;
    display: inline-block;
}

.tapru .picword{
    height: 122px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: left;
}

.tapru .picword p{            
    color: rgb(14, 39, 63);
    font-size: 17pt;
    padding: 10px;
    margin: 0;
    font-weight: bold;
}

.taabout{        
    text-align: center;        
}        

.taabout .tain{
    width: 100%;            
    height: 594px;            
    margin: auto;
    background-color: rgb(255, 250, 182); 
    padding: 20px;                       
}

.taabout .card{
    height: 554px;                       
    width: 100%;
    max-width: 1024px;           
    background-color: rgba(255, 255, 255, 0.7);
    margin: 0px auto; 
    display: inline-block;                                    
}

.tanew{        
    text-align: center; 
    margin: 30px 0;                  
}

.tanew .news{
    width: 100%;    
    height: 220px;            
    margin: 10px auto;
    background-color: rgb(255, 251, 212);
    box-shadow:0px 0px 15px -2px rgba(102, 102, 0, 0.7);
}

.tanew .date{
    float: left;
    padding-left: 30px;
    width: 20%;
    margin-top: -12px;
}        

.tanew .date p{
    font-size: 20pt;            
    color: rgb(62, 74, 82);  
    margin: 0; 
    font-weight: bold;         
}

.tanew .date span{
    font-size: 83pt;
    font-weight: lighter;           
    color: rgb(62, 74, 82); 
       
}

.tanew .thing{
    width: 80%;
    height: 220px;
    float: right;
    padding: 0 50px;

}

.tanew .thing span{
    font-size: 22pt;
    font-weight: bold;
    line-height: 2.9;            
}

.tanew .thing p{
    font-size: 18pt;
    font-weight: normal;
    color: rgb(163, 96, 44);  
    margin: 0;    
    text-align: left;    
}

.tashop{
    text-align: center;
    background-color: rgb(252, 240, 154);
}

.tashop .title{
    padding-top: 30px;
}

.tashop .contain{
    width: 100%;  
    padding: 50px;
    margin: auto;
    display: flex;
}

#map2{
    height: 400px;
    width: 62%
}

.tashop .word{    
    width: 38%;
    padding: 0 20px;
    flex: 1;
    text-align: left;
}

.tashop .word p{
    font-size: 16pt;
}

.tafooter{
    width: 100%;
    height: 100px;
    background-color: rgb(188, 188, 188);
    text-align: center;
}

.tafooter p{
    color: rgb(76, 70, 36);
    line-height: 100px;
    margin: 0;
}

